 /* header部分 */
 #header{
    z-index: 900;
    width:100%;
    background: #010101;
}
#header .head{
    width:980px;
    height:45px;
    margin:0 auto;
}
#header .head .site-left{
    width:330px;
    height:100%;
    float: left;
}
#header .head .site-left h1{
    width:329px;
    height:100%;
    text-align:center;
    display:table;
    overflow:hidden;
}
#header .head .site-left h1 a{
    cursor: pointer;
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
}
#header .head .site-left h1 a img{
    vertical-align:middle;
    max-width:329px;
}
#header .head .site-right{
    width:600px;
    float:right;
}
#header .head .site-right .site-right-box{
    padding-left:20px;
}
#header .head .site-right .site-right-box li{
    position:relative;
    float: right;
}
#header .head .site-right .site-right-box li .right-menu{
    color: #ffffff;
    padding:0 16px;
    display:inline;
}

#header .head .site-right .site-right-box li .right-menu a{
    color:#cfcfcf;
    line-height:45px;
    text-decoration: none;
}
#header .head .site-right .site-right-box li .right-menu a img{
    padding-right:3px;
}
#header .head .site-right .site-right-box li .app-qr{
    display: none;
    position:absolute;
    top:43px;
    right:0;
    width:120px;
    height:120px;
    background:#000;
    overflow:hidden;
    padding:2px;
}
#header .head .site-right .site-right-box li .app-qr img{
    width:100%;
}
#header .head .site-right .site-right-box .menu-line{
    line-height:45px;
    color:#333;
}
#header .head .site-right .site-right-box .stylist .right-menu a{
    color:#f6d036;
}
#header .head .site-right .site-right-box li .right-menu .user-login{
    padding-right:13px;
}
#header .head .site-right .site-right-box li .menu-hd{
    padding:0 16px;
    color:#fff;
}
a:hover{
    color:#fff !important;
}
#header .head .site-right .site-right-box li .menu-hd>a{
    color: #cfcfcf;
    line-height: 45px;
    text-decoration: none;
}
#header .head .site-right .site-right-box li .number-box{
    display: none;
    position: absolute;
    width: 25px;
    height: 18px;
    text-align: center;
    top: 2px;
    right: 1px;
    background:url("../img/index/pc_new_icon.png") no-repeat;
    opacity: .5;
    font-size: 12px;
    line-height: 15px;
    font-family: Arial;
}
#header .head .site-right .site-right-box li .menu-hd .user-order{
    position: absolute;
    left: 50%;
    width: 70px;
    margin-left: -35px;
    background: #000;
    text-align: center;
    padding: 8px 0;
    overflow: hidden;
    color: #cfcfcf; 
    display:none;
}
#header .head .site-right .site-right-box li .user-info:hover .user-order{
    display:block;
}
#header .head .site-right .site-right-box li .menu-hd .user-order a{
    color: #cfcfcf;
    display: inline-block;
    height: 14px;
    padding: 5px;
    text-align:center;
}
#header .head .site-right .site-right-box li .menu-hd .user-order a:hover{
    text-decoration: underline;
}

